<app-header class="full-width"></app-header>

<div class="page">
    <app-page-header 
        [title]="(isCreatingOrEditingEl ? (bookListService.selectedBook ? 'Edit' : 'Add') : 'Book List')" 
        [icon]="(isCreatingOrEditingEl ? (bookListService.selectedBook ? 'create' : 'add') : 'auto_stories')"
    ></app-page-header>

    <mat-card *ngIf="searchBy" id="searchBy">
        <div>
            <div>
                Search By:
            </div>

            <b>{{searchBy.searchType}}</b> -  
            <span>{{searchBy.searchParameter}}</span>
        </div>

        <button 
            mat-mini-fab 
            aria-label="cancel icon" 
            color="warn"
            (click)="resetSearch()"
        >
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-card>
    
    <app-list 
        *ngIf="!isCreatingOrEditingEl"
        [orderList]="orderList"
        [list]="bookListService.bookList"
        [itemTemplate] = "itemTemplate"
        (onElementsChecked) = "onElementsChecked($event.isChecked, $event.id)"
        (onOrderChange) = "onOrderChange($event)"
        (onElementEdit) = "onElementEdit($event)"
    ></app-list>

    <div *ngIf="isCreatingOrEditingEl">
        <mat-card>
            <app-book-list-form
                [itemForm]="itemForm"
                [authorList] = "authorList"
                (onSubmit)="onSubmit()"
            ></app-book-list-form>
        </mat-card>
    </div>
</div>

<ng-template #itemTemplate let-data="data">
    <div>
        <div>
            {{ data.author.surname }} {{ data.author.name }}
        </div>
        <div>
            {{ data.title }}
        </div>
    </div>
</ng-template>

<app-bottom-bar 
    [deletedArray] = "deletedArray"
    [isCreatingOrEditingEl] = "isCreatingOrEditingEl"
    (onElementsDelete) = "onElementsDelete()"
    (onElementAdd) = "onElementAdd()"
    (onCreateEditClose) = "onCreateEditClose()"
    (openSearchDialog) = "openSearchDialog()"
></app-bottom-bar>