
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-pomelo-primary: (
  50: #7eb8de,
  100: #73b3de,
  200: #63abdb,
  300: #58a6db,
  400: #4a9fd9,
  500: #3598DB,
  600: #2e85bf,
  700: #2a79ad,
  800: #256d9c,
  900: #1f5980,
  A100: #7eb8de,
  A200: #63abdb,
  A400: #58a6db,
  A700: #3598DB,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-pomelo-secondary: (
  50: #dbb379,
  100: #deb16f,
  200: #dbab65,
  300: #dea859,
  400: #db9f48,
  500: #DB9735,
  600: #c7882e,
  700: #ad7626,
  800: #99671d,
  900: #855918,
  A100: #dbb379,
  A200: #deb16f,
  A400: #dbab65,
  A700: #dea859,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$frontend-primary: mat-palette($mat-pomelo-primary);
$frontend-accent: mat-palette($mat-pomelo-secondary, A200, A100, A400);

.primary-color-bg {
  background-color: mat-color($frontend-primary);
}

.accent-color-bg {
  background-color: mat-color($frontend-accent);
}


// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

.warn-color-bg {
  background-color: mat-color($frontend-warn);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

